---
import type { Quote as IQuote } from "@/types/quote";
import Quote from "./Quote.astro";

interface Props extends IQuote {
  mainCard?: boolean;
}

const { mainCard, ...quote } = Astro.props;
---

{
  mainCard === true ? (
    <div class="max-w-3xl rounded-xl border bg-card px-10 py-6">
      <Quote {...quote} />
    </div>
  ) : (
    <div />
  )
}
